*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/

#src
#*.sqlite*

.venv
node_modules
Prepaid-dispute-resolution-platform.code-workspace

CHANGELOG.md

venv/

.env
