{% extends 'layouts/law-base-sections.html' %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/dispute-list.css' %}" />
{% endblock %}

{% block title %}

{% endblock %}

{% block body %}

{% endblock %}

{% block content %}
<section style="margin-top: 100px;">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                    <h3 class="text-center">取证固证</h3>
                    <form role="form" id="contact-form" method="post" autocomplete="off" action="/provements_upload/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>证据标题</label>
                                    <div class="input-group mb-4">
                                        <input class="form-control" name="title" placeholder="" aria-label="First Name..." type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label>证据内容</label>
                                <textarea name="content" class="form-control" id="message" rows="4"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <label>上传文件（点击加号选择多张图片）</label>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" style="margin-top: 15px;" onclick="addFileInput()">+</button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" style="margin-top: 15px;" onclick="deleteFileInput()">-</button>
                                </div>
                            </div>
                            <div class="row" id="fileInputsContainer">
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <div class="row">
                                            <div class="col-md-4 mb-2">
                                                <div class="input-group">
                                                    <input type="file" class="form-control" name="file_provements" multiple>
                                                </div>
                                            </div>
                                            <div class="col-md-8 mb-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="file_info" placeholder="文件信息">    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <label>上传图片（点击加号选择多张图片）</label>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" style="margin-top: 15px;" onclick="addImgInput()">+</button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" style="margin-top: 15px; " onclick="deleteImgInput()">-</button>
                                </div>
                            </div>
                            <div class="row" id="imgInputsContainer">
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input type="file" class="form-control" name="img_provements" multiple>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="img_info" placeholder="图片信息">    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-check form-switch mb-4">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">我同意<a href="javascript:;" class="text-dark"><u>Terms and Conditions</u></a>.</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn bg-gradient-dark w-100">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
  <script>
    function addFileInput() {
      var container = document.getElementById('fileInputsContainer')
      if (container.childElementCount >= 5) {
        alert('最多上传5个文件')
    
        return
      }
      container.innerHTML += `
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <div class="row">
                                            <div class="col-md-4 mb-2">
                                                <div class="input-group">
                                                    <input type="file" class="form-control" name="file_provements" multiple>
                                                </div>
                                            </div>
                                            <div class="col-md-8 mb-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="file_info" placeholder="文件信息">    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
    }
    function addImgInput() {
      var container = document.getElementById('imgInputsContainer')
      if (container.childElementCount >= 5) {
        alert('最多上传5个文件')
    
        return
      }
      container.innerHTML += `
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input type="file" class="form-control" name="img_provements" multiple>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="img_info" placeholder="图片信息">    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
    }
    function deleteFileInput() {
      var container = document.getElementById('fileInputsContainer')
      if (container.childElementCount > 1) {
        container.removeChild(container.lastChild.previousSibling)
        container.removeChild(container.lastChild)
      }
    }
    function deleteImgInput() {
      var container = document.getElementById('imgInputsContainer')
      if (container.childElementCount > 1) {
        container.removeChild(container.lastChild.previousSibling)
        container.removeChild(container.lastChild)
      }
    }
  </script>
{% endblock %}
