{% extends 'layouts/law-base-sections.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block body %}

{% endblock %}

{% block content %}
<section style="margin-top: 100px;">
    <div class="container py-4">
        <div class="card">
            <div class="card-header bg-info text-white py-4">
                <div class="col-md-6 text-left">案例列表</div>
            </div>
            <div class="card-body pt-4">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control datepicker" id="datePick" placeholder="点击选择更新日期" type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" id="titleInput" placeholder="标题" type="text">
                        </div>
                    </div>  
                    <div class="col-md-4">
                        <button type="button" class="btn bg-gradient-info w-auto me-1 mb-0" id="queryButton">查询</button>
                    </div>
                </div> 
                <div class="table-responsive" >
                    <table class="table align-items-center mb-0" id="DocumentTable" style="table-layout: fixed; width=100%">
                        <thead> 
                            <th class="text-secondary text-x font-weight-bolder opacity-7" style="width: 15%">标题</th>
                            <th class="text-secondary text-x font-weight-bolder opacity-7" style="width: 55%">概要</th>
                            <th class="text-secondary text-x font-weight-bolder opacity-7" style="width: 15%">更新时间</th>
                            <th class="text-secondary text-x font-weight-bolder opacity-7" style="width: 15%">文件</th>                      
                        </thead>
                        <tbody>
                            {% for document in documents %}
                                <tr class="text-x font-weight-bold opacity-7">    
                                    <td style="text-overflow:ellipsis; white-space: nowrap; overflow: hidden; color: black; font-weight: bold;">{{ document.title }}</td>
                                    <td style="text-overflow:ellipsis; white-space: nowrap; overflow: hidden; color: black; font-weight: bold;">{{ document.content }}</td>
                                    <td style="text-overflow:ellipsis; white-space: nowrap; overflow: hidden; color: black; font-weight: bold;">{{ document.update_time|date:"Y-m-d" }}</td>
                                    <td style="text-overflow:ellipsis; white-space: nowrap; overflow: hidden; color: black; font-weight: bold;">
                                        {% if document.file %}
                                            <a href="{{ document.file.url }}" download style="color: black; font-weight: bold;">{{ document.file.name }}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>                        
                    </table>
                </div>
                <div class="row justify-content-between py-2">
                    <div class="col-lg-4">
                        <ul class="pagination pagination-info m-4" id="pagination">
                            <li class="page-item disabled" id="previous-page">
                                <a class="page-link" href="javascript:;" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:;">1</a>
                            </li>
                            <!-- Other page links will be dynamically added here -->
                            <li class="page-item" id="next-page">
                                <a class="page-link" href="javascript:;" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block javascripts %}
<script src="{% static 'js/documents.js' %}"></script>
{% endblock %}



