{% extends 'layouts/law-base-sections.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block body %}

{% endblock %}

{% block content %}
    <section style="margin-top: 100px;">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                    <h3 class="text-center">发表讨论</h3>
                    <form role="form" id="contact-form" method="post" autocomplete="off" action="/post_upload/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="font-size: 16px;">标题</label>
                                    <div class="input-group mb-4">
                                        <input class="form-control" name="title" placeholder="" aria-label="First Name..." type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label style="font-size: 16px;">内容</label>
                                <textarea name="content" class="form-control" id="content" rows="4"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <label style="font-size: 16px;">上传封面</label>
                                    <div class="input-group">
                                        <input type="file" class="form-control" name="cover">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-check form-switch mb-4">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="" style="background-color: #cb0c9f; border-color: #cb0c9f;">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">我同意<a href="javascript:;" class="text-dark"><u>维权社区规定</u></a>.</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    {% comment %} <button type="submit" class="btn bg-gradient-info w-100">提交</button> {% endcomment %}
                                    <!-- Button to trigger modal -->
                                <button type="button" class="btn bg-gradient-info w-100" id="modalButton" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    提交
                                </button>
                                
                                <!-- Modal 1: Terms and Conditions not agreed -->
                                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel1">注意</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="py-3 text-center">
                                                    <i class="ni ni-bell-55 ni-3x"></i>
                                                    <h4 class="text-gradient text-danger mt-4">未同意条款和条件!</h4>
                                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                                </div>
                                            
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal 2: Incomplete Title or Content -->
                                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel2">注意</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="py-3 text-center">
                                                    <i class="ni ni-bell-55 ni-3x"></i>
                                                    <h4 class="text-gradient text-danger mt-4">完善信息</h4>
                                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal 3: Cover not selected -->
                                <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel3">注意</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="py-3 text-center">
                                                    <i class="ni ni-bell-55 ni-3x"></i>
                                                    <h4 class="text-gradient text-danger mt-4">你还没选择封面!</h4>
                                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal 4: Confirm Submission -->
                                <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel4">注意</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="py-3 text-center">
                                                    <i class= "ni ni-air-baloon ni-3x"></i>
                                                    <h4 class="text-gradient text-danger mt-4">确定提交!</h4>
                                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                                </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn bg-gradient-info">确定</button>
                                                <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">取消</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.getElementById('modalButton').addEventListener('click', function() {
        var termsAgreed = document.getElementById('flexSwitchCheckDefault').checked;
        var title = document.getElementsByName('title')[0].value.trim();
        var content = document.getElementsByName('content')[0].value.trim();
        var is_empty = title === '' || content === '';
        var coverInput = document.getElementsByName('cover')[0];
        var cover_selected = coverInput.files.length === 1;
        
        if (!termsAgreed) {
            $('#exampleModal1').modal('show'); // 显示模态框 1：未同意条款和条件
        } else if (is_empty) {
            $('#exampleModal2').modal('show'); // 显示模态框 2：标题或内容不完整
        } else if (!cover_selected) {
            $('#exampleModal3').modal('show'); // 显示模态框 3 封面未选择
        } else {
            $('#exampleModal4').modal('show'); // 显示模态框 4：确认提交
        }
    });
</script>
{% endblock %}
