{% extends 'layouts/law-base-sections.html' %}
{% load static %}

{% block title %}
  post 展示页面
{% endblock %}

{% block body %}

{% endblock %}

{% block content %}
  <section style="margin-top: 100px;">
    <div class="container">
      <div class="row py-4">
        <div class="col-lg-8">
          <div class="row">
            
          {% comment %}left{% endcomment %}
          <div class="col-lg-3">
            <img src="{{ cover }}" alt="Image" class="img-fluid rounded" />
          </div>
          {% comment %}mid{% endcomment %}
          {% comment %}内容{% endcomment %}
          <div class="col-lg-9" style="padding-left: 20px;">
            {% comment %}content{% endcomment %}
            <div class="row">
              <h2 class="display-4 text-dark">{{ title }}</h2>
              <div class="d-flex align-items-center">
                <i class="ni ni-favourite-28 me-2" aria-hidden="true"></i>
                <span id="like">{{ like }}</span>
              </div>

              <div class="author align-items-center d-flex justify-content-end" style="margin-top: 10px;">
                <img src="{{ user_avatar }}" alt="..." class="avatar shadow" />
                <div class="name ps-3">
                  <span>{{ user_name }}</span>
                  <div class="stats">
                    <small>Posted on {{ post_time }}</small>
                  </div>
                </div>
              </div>
              <h5 class="text-dark text-gradient" style="margin-top: 30px;">{{ content }}</h5>
              <a href="javascript:like();" class="d-flex justify-content-end align-items-end">
                <button type="button" class="btn sm-gradient-white w-auto">
                  <div class="d-flex align-items-center">
                    <i class="ni ni-favourite-28 me-2" aria-hidden="true"></i>
                    LIKE
                  </div>
                </button>
              </a>
            </div>

            {% comment %}button{% endcomment %}
            <div class="row py-4">
              <div class="col-4">
                {% if post_id > 0 %}
                  <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'post-details' post_id|add:'-1' %}'">上一个</button>
                {% endif %}
              </div>
              <div class="col"></div>
              <div class="col-4">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'post-details' post_id|add:'1' %}'">下一个</button>
              </div>
            </div>
          </div>

          </div>  
            <div class="row">
              {% comment %}发表讨论{% endcomment %}
              <form method="post" id="comment_form" autocomplete="off" action="/comments_upload/">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="content" placeholder="发表评论">
                  <button type="button" class="btn bg-gradient-info mb-0" id="modalButton">发送</button>
                </div>
                <input type="hidden" id="post_id" name="post_id" value="{{post_id}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
              
              
                <!-- Modal 1: Incomplete content -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">注意</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="py-3 text-center">
                                    <i class="ni ni-bell-55 ni-3x"></i>
                                    <h4 class="text-gradient text-danger mt-4">未输入内容!</h4>
                                    <p>请输入有效内容后提交</p>
                                </div>   
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 2: Confirm Submission -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel2">注意</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          </div>
                          <div class="modal-body">
                              <div class="py-3 text-center">
                                  <i class= "ni ni-air-baloon ni-3x"></i>
                                  <h4 class="text-gradient text-danger mt-4">确定发送!</h4>
                                  <p></p>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="submit" form="comment_form" class="btn bg-gradient-info">确定</button>
                              <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">关闭</button>
                          </div>
                      </div>
                  </div>
              </div>
            </form>
              {% comment %}评论区{% endcomment %}
              <ul class="list-group">
                {% for com in comments %}
                  <li class="list-group-item">
                    <div class="author align-items-center d-flex " style="margin-top: 10px;">
                      <img src="{{ com.user_avatar }}" alt="..." class="avatar shadow" />
                      <div class="name ps-3">
                        <span>{{ com.user_name }}</span>
                        <div class="stats">
                          <small>Posted on {{ com.post_time }}</small>
                        </div>
                      </div>
                    </div>
                    <h5 class="text-dark text-gradient" style="margin-top: 30px;">{{ com.content }}</h5>
                  </li>
                {% endfor %}
              </ul>
           
          </div>
        </div>

        {% comment %}right{% endcomment %}
        <div class="col-1"></div>
        <div class="col-3">
          {% comment %}list{% endcomment %}
          <div class="row">
            <ul class="list-group position-relative end-0">
              <a href="#" class="list-group-item list-group-item-action" style="background: lightgray ">主题</a>
              <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
              <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
            </ul>
          </div>
          {% comment %}button{% endcomment %}
          <div class="row" style="margin-top: 30px;">
            <div class="d-flex justify-content-center">
              <a href="{% url 'post-case' %}" class="btn btn-info btn-lg">发表讨论</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function like() {
      axios
        .get("{% url 'like' post_id %}")
        .then(function (response) {
          console.log(response)
          var likeElement = document.getElementById('like')
          likeElement.innerHTML = parseInt(likeElement.innerHTML) + 1
        })
        .catch(function (error) {
          console.log(error)
        })
    }

    document.getElementById('modalButton').addEventListener('click', function() {

      var content = document.getElementsByName('content')[0].value.trim();
      var is_empty = content === '';
      
      
      if (is_empty) {
          $('#exampleModal1').modal('show'); // 显示模态框 1：未输入内容
      }  else {
          $('#exampleModal2').modal('show'); // 显示模态框 2：确认提交
      }
  });
  </script>
{% endblock %}
