{% extends 'layouts/law-base-sections.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/smart-analysis.css' %}" />
{% endblock %}

{% block title %}

{% endblock %}

{% block body %}

{% endblock %}

{% block content %}
  <section style="margin-top: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">Topic</a>
            <a href="{% url 'smart-analysis' %}?topic={{ topic }}" class="list-group-item list-group-item-action" >topic 1</a>
            {% for topic in topics %}
              {% if topic == topic_now %}
                <a href="{% url 'smart-analysis' %}?topic={{ topic }}" class="list-group-item list-group-item-action active">{{ topic }}</a>
              {% else %}
                <a href="{% url 'smart-analysis' %}?topic={{ topic }}" class="list-group-item list-group-item-action">{{ topic }}</a>
              {% endif %}
            {% endfor %}
          </div>
          {% include 'includes/law-model.html' %}
        </div>
        <div class="col-md-10">
          {% comment %}聊天框{% endcomment %}
          <div class="card flex-grow-1">
            {% comment %} <div class="card-header bg-primary text-white" style="padding: 10px;">
              <div class="row">
                <div class="col-md-6 text-left">维权智能助手</div>
                <div class="col-md-6 text-end">
                  {% include 'includes/law-model.html' %}
                </div>
              </div>
            </div> {% endcomment %}
            <div class="card-body messages-box">
              <div class="list-group" id="messages-list">
                {% for msg in history %}
                  <a href="#" class="message sent list-group-item list-group-item-action item-left">
                    <div class="message-text">
                      <div class="message-sender">
                        <b>你：</b>
                      </div>
                      <div class="message-content">{{ msg.message }}</div>
                    </div>
                  </a>
                  <a href="#" class="message received list-group-item list-group-item-action item-left">
                    <div class="message-text">
                      <div class="message-sender">
                        <b>智能助手：</b>
                      </div>
                      <div class="message-content">{{ msg.response }}</div>
                    </div>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
          {% comment %}发送{% endcomment %}
          <form class="message-form" id="message-form">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="请描述你遇见的问题..." id="form-input" />
              <button class="btn btn-primary mb-0" type="submit">发送</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    const messagesList = $('#messages-list')
    const messageForm = $('#message-form')
    const messageInput = $('#form-input')
    
    messageForm.on('submit', function (event) {
      event.preventDefault()
      console.log('submit')
      const message = messageInput.val().trim()
      if (message.length === 0) {
        return
      }
      const messageItem = $('<a></a>').addClass('message sent list-group-item list-group-item-action item-left').html(`
                                                                                                                                      <div class="message-text">
                                                                                                                                        <div class="message-sender">
                                                                                                                                          <b>你：</b>
                                                                                                                                        </div>
                                                                                                                                        <div class="message-content">${message}</div>
                                                                                                                                      </div>`)
      messagesList.append(messageItem)
      messagesList.scrollTop(messagesList.prop('scrollHeight'))
      messageInput.val('')
      $.ajax({
        url: '',
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        data: {
          csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
          message: message,
          topic: '{{ topic_now }}'
        },
        success: function (data) {
          const response = data.response
          const messageItem = $('<a></a>').addClass('message sent list-group-item list-group-item-action item-left').html(`
                                                                                                                              <div class="message-text">
                                                                                                                                <div class="message-sender">
                                                                                                                                  <b>智能助手：</b>
                                                                                                                                </div>
                                                                                                                                <div class="message-content">${response}</div>
                                                                                                                              </div>`)
          messagesList.append(messageItem)
          messagesList.scrollTop(messagesList.prop('scrollHeight'))
        },
        error: function (error) {
          console.error(error)
        }
      })
    })
    
    function addtopic(event) {
      event.preventDefault() // 阻止表单的默认提交行为
      var topic = document.getElementById('newtopic').value
      // 在这里添加你的代码，例如发送一个 AJAX 请求
      console.log(topic)
      // 发送一个 AJAX 请求新建一个 topic
      $.ajax({
        url: 'topic/',
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        data: {
          csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
          topic: topic
        },
        success: function (data) {
          console.log(data)
          location.reload()
        },
        error: function (error) {
          console.error(error)
        }
      })
    
      function chooseTopic(event) {
        event.preventDefault() // 阻止 a 标签的默认行为
        var topic = $(event.target).text() // 获取点击的 a 标签的文本值
        $.ajax({
          url: '',
          method: 'GET',
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
          data: {
            csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
            topic: topic
          },
          success: function (response) {
            // 处理响应
          },
          error: function (error) {
            console.error(error)
          }
        })
      }
    }
  </script>
{% endblock %}
